.body {
	margin: 0;
	background-color: #B2B2BC;
	height: 100%;
}

.page-title {
	color: white;
	background-color: #21212F;
	text-align: center;
	padding: 35px;
	height: 30%;
}

.pageRow {
	display: flex;
	height: 70vh;
}

.sideColumn {
	flex: 15%;
}

.centerColumn {
	flex: 70%;
	background-color: white;
	padding: 15px;
	border-width: 1px;
	border-style: solid;
	height: 100%;
}
